.container{
    display: flex;
    width: 100vw;
    height: 100vh;
   overflow: hidden;
  
  }
  .left{
    width:27%; 
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  }
  .heading{
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    padding: 3rem 3.5rem;
    font-weight: bold;
  }
  .btn{
   background-color:  #16008B;
    color: white;
    border-radius: 50%;
   width: 50px;
   height: 50px;
   border: none;
   text-decoration: none;
   text-align: center;font-size: 2rem;
   position: absolute;
   bottom: 5%;
   left: 20%;
   cursor: pointer;
   position: fixed;
  }
  
  
  .class_name{
    padding: 0px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor:pointer;
    margin-bottom: 20px;
   
  }
  
  
  
  .right{
    flex: 1;
    background-color: #DAE5F5;
    height: 100vh; /* Full viewport height */
   
  }
  
  .classname:hover{
    background-color:  rgba(47, 47, 47, 0.17);
    border-radius: 10px;
  }
  .container ::-webkit-scrollbar {
    border-radius: 10px;
    background: 
    rgba(217, 217, 217, 1);
    width: 10px;
    height: 5px;
  }
  
  .container ::-webkit-scrollbar-thumb {
    width: 2px;
    background:  #FFFFFF;
    -webkit-border-radius: 1ex;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
    height: 1px
  }
  
  
  
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 20px; 
  
     
    }
  
    .left {
      width: 100%;
      height: 100vh;
      padding: 1rem;
      position: relative;
      overflow-y: auto; 
    }
    .heading{
      padding: 10px 10px;
    }
  
  
    .btn {
      width: 60px;
      height: 60px;
      font-size: xx-large;
      bottom: 7%; 
    
     margin-left: 50%;
    
    }
    .class_name{
     padding: 10px 10px;
      margin-top: 1rem;
    }
  
   
  }
  
  