.container{
  
    text-align: center;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sub_text{
    font-size: 2.5rem;
    margin: 1rem 0
   
   
  }
  .link{
    background-color:#379777;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 2.5rem;
  }